<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center ">
        <section>
            <h1 class="display-1 d-flex justify-content-center ">About</h1>
            <p class="d-flex justify-content-center ">¿Cómo describes a un ícono? Descubierto en 1807 por Lewis y Clark, las palabras no alcanzan para describir al Yellowstone National Park (Parque nacional de Yellowstone), una de las primeras creaciones de la Madre Naturaleza. Una fuerza dinámica geotérmica, oculta debajo de la superficie, formó un conjunto impactante de montañas, ríos, cañones, termas y géiseres, que están rodeados de una gran cantidad de animales, desde los más grandes mamíferos hasta pequeñas aves. Su atractivo es impresionante, lo demuestra la multitud que lo visita todos los años, pero es posible encontrar un lugar para ti en este parque magnífico si planificas bien tu viaje.

            </p>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>